{{#if course}}
{{>_deleteCourse-modal}}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-4-widescreen">
                    {{#if error}}
                    <div class="notification is-danger">
                        <button class="delete"></button>
                        {{error}}
                    </div>
                    {{/if}}
                    <h1 class="title is-centered">
                        {{course.title}}
                    </h1>
                    <h2 class="subtitle">{{{course.description}}}</h2>
                </div>
                <div class="column">
                </div>
                <div class="column">
                    <p>Código do Curso:</p>
                    <span class="tag is-light is-medium">{{course._id}}</span>
                    <div class="dropdown options-ddown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu options-ddown-menu">
                                <span>Opções</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a href="#" class="dropdown-item">
                                    Atribuir um tutor
                                </a>
                                <a class="dropdown-item">
                                    Editar informações
                                </a>
                                <hr class="dropdown-divider">
                                <a class="dropdown-item deleteCourse-item">
                                    Deletar o curso
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-footer">
        <div class="tabs is-centered is-boxed">
            <ul>
                <li class="is-active">
                    <a>
                        <span class="icon is-small"><i class="fa fa-book" aria-hidden="true"></i></span>
                        <span>Aulas</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small"><i class="fas fa-address-book" aria-hidden="true"></i></span>
                        <span>Pessoas</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small"><i class="fab fa-rocketchat" aria-hidden="true"></i></span>
                        <span>Chat</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="section">
    <div class="container is-fluid-mobile">
        <div class="columns is-centered">
            <div class="column is-4">
                {{>_msg}}
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-quarter is-centered">
                <h2 class='title'>Módulos</h2>
                {{#each modules}}
                <article class="panel is-primary">
                    <p class="panel-heading">
                        {{title}}
                        {{!-- <form action="/course/module/delete" method='POST'>
                            <input type="hidden" value="{{_id}}" name="delete"></input>
                            <button class="delete" type="submit"></button>
                        </form> --}}
                    </p>
                    {{#each lessons}}
                    <a class="panel-block is-active lesson-link" data-key="{{_id}}" data-content="{{content}}">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        {{title}}
                    </a>
                    {{else}}
                    <p class="panel-block">
                        Nenhuma aula inserida
                    </p>
                    {{/each}}
                    <div class="panel-block">
                        <button class="button is-link is-outlined is-fullwidth is-rounded add-lesson-btn">
                            Nova aula
                        </button>
                        {{>_newLesson-modal}}
                    </div>
                </article>
                {{else}}
                <div class="box">
                    <p class="subtitle">Nenhum módulo</p>
                </div>
                {{/each}}

                <form action="/course/module/new" method="POST" class="box">
                    <div class="field">
                        <input name="courseId" value="{{course._id}}" type="hidden"></input>
                        <label for="title" class="label">Título do módulo</label>
                        <div class="control">
                            <p class="control">
                                <input id="title" name="title" class="input is-rounded" type="text" placeholder=""
                                    required>
                            </p></br>
                        </div>
                        <div class="buttons is-centered">
                            <p class="control">
                                <button class="button is-info is-rounded" type="submit">Criar módulo</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column">
                <h2 class='title'>Conteúdo</h2>
                <div class="box">
                    <div class="content">
                        <textarea class="mceNonEditable" name="lesson" id="lesson-content" cols="30" rows="40"></textarea>
                    </div>
                    <div class="is-hidden" id="lesson-form">
                        <p>Formulário aqui</p>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <p class="control">
                            <button class="button is-success is-rounded" type="submit">Salvar modificações</button>
                        </p>
                        <p class="control">
                            <button class="button is-danger is-rounded" type="submit">Excluir</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{/if}}